/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url(Nursary7.jpg);
    background-image: cover;
    color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Navbar Styling */
.navbar {
    background-color: #0f0f0f;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
   
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #a5d6a7;
}

/* Container for main content */
.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%;
    margin: 20px;
}

/* Form Container */
.form-container {
    max-width: 400px;
    margin: 0 auto;
}

/* Form Inputs */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid #a5d6a7;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

input:focus,
textarea:focus {
    border-color: #05970c;
}
.footer{
    text-align: end;
    
}

/* Buttons */
.btn {
    padding: 12px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.btn:hover {
    background-color: #10a017;
}

/* Responsive Navbar */

    
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar a {
        margin: 5px 0;
    }
}
